<!DOCTYPE html>
<html>

<head>
    <title>Vue.js条件语句</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>

    <div>
        <p>
            <a href="https://www.runoob.com/vue3/vue3-v-if.html" target="_blank">
                参考链接
            </a>
        </p>
    </div>
    <div>条件判断使用 v-if 指令:在元素 和 template 中使用 v-if 指令：</div>
    <div id="app">
        <p v-if="seen">现在你看到我了</p>
        <template v-if="ok">
            <h1>网站</h1>
            <p>Google</p>
            <p>Runoob</p>
            <p>Taobao</p>
        </template>
    </div>

    <div>v-else 指令</div>
    <div id="app1">
        <div v-if="Math.random() > 0.5">
            Sorry
        </div>
        <div v-else>
            Not sorry
        </div>
    </div>


    <div id="app2">
        <div v-if="type === 'A'">
            A
        </div>
        <div v-else-if="type === 'B'">
            B
        </div>
        <div v-else-if="type === 'C'">
            C
        </div>
        <div v-else>
            Not A/B/C
        </div>
    </div>

    <hr>
    <div>我们也可以使用 v-show 指令来根据条件展示元素：</div>
    <div id="app3">
        <h1 v-show="ok">Hello!</h1>
    </div>

    <script src="test2.js"></script>
</body>

</html>