<!DOCTYPE html>
<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body class="native">

    <h1>
        表单输入绑定
    </h1>

    <div id="example">
        文本<br>
        <input v-model="message" placeholder="edit me">
        <p>Message is: {{ message }}</p>
    </div>

    <div id="example1">
        多行文本<br>
        <span>Multiline message is:</span>
        <p style="white-space: pre-line;">{{ message }}</p>
        <br>
        <textarea v-model="message" placeholder="add multiple lines"></textarea>
    </div>

    <hr>
    <div id="demo2">
        复选框：单个复选框，绑定到布尔值<br>
        <input type="checkbox" id="checkbox" v-model="checked">
        <label for="checkbox">{{ checked }}</label>

    </div>

    <hr>
    <div id="demo3">
        复选框：多个复选框，绑定到同一个数组<br>
        <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
        <label for="jack">Jack</label>
        <input type="checkbox" id="john" value="John" v-model="checkedNames">
        <label for="john">John</label>
        <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
        <label for="mike">Mike</label>
        <br>
        <span>Checked names: {{ checkedNames }}</span>
    </div>

    <hr>

    <div id="demo4">
        单选按钮<br>
        <input type="radio" id="one" value="One" v-model="picked">
        <label for="one">One</label>
        <br>
        <input type="radio" id="two" value="Two" v-model="picked">
        <label for="two">Two</label>
        <br>
        <span>Picked: {{ picked }}</span>
    </div>

    <hr>

    <div id="demo5">
        选择框：单选<br>
        <select v-model="selected">
            <option disabled value="">请选择</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <span>Selected: {{ selected }}</span>
    </div>
    <hr>
    <div id="demo6">
        多选时 (绑定到一个数组)<br>
        <select v-model="selected" multiple style="width: 50px;">
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <br>
        <span>Selected: {{ selected }}</span>
    </div>
    <hr>
    <div id="demo7">
        用 v-for 渲染的动态选项<br>
        <select v-model="selected">
            <option v-for="option in options" v-bind:value='option.value'>
                {{option.text}}
            </option>
        </select>
        <br>
        <span>Selected: {{ selected }}</span>
    </div>

</body>

<script>
    var exampleVM2 = new Vue({
        el: '#example',
        data: {
            message: ''
        }
    });

    var example = new Vue({
        el: '#example1',
        data: {
            message: ''
        }
    })
    var demo2 = new Vue({
        el: '#demo2',
        data: {
            checked: false
        }
    })

    var demo3 = new Vue({
        el: '#demo3',
        data: {
            checkedNames: []
        }
    })
    var demo4 = new Vue({
        el: '#demo4',
        data: {
            picked: ''
        }
    })
    var demo5 = new Vue({
        el: '#demo5',
        data: {
            selected: ''
        }
    })
    var demo6 = new Vue({
        el: '#demo6',
        data: {
            selected: ['A', 'B']
        }
    })
    var demo7 = new Vue({
        el: '#demo7',
        data: {
            selected: 'A',
            options: [{ text: 'One', value: 'A' },
            { text: 'Two', value: 'B' },
            { text: 'Three', value: 'C' }]
        }
    })
</script>

</html>